<a href="https://colab.research.google.com/github/Madung2/pythonicpython/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%84_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EB%8B%B5%EA%B2%8C1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  **파트1 파이썬 꿀팁**

수강전 문제 미리 보기

In [1]:
mylist = [[1, 2], [3, 4], [5]]
output= [len(i) for i in mylist]
print(output)

[2, 2, 1]

In [ ]:
def solution(mylist):
    return [len(i) for i in mylist]

#  **파트2 정수 다루기**

***몫과 나머지 ***

숫자 a, b가 주어졌을 때 a를 b로 나눈 몫과 a를 b로 나눈 나머지를 공백으로 구분해 출력해보세요.

In [2]:
a,b = map(int, input().split())
print(f'{a//b} {a%b}')

5 3
1 2

In [3]:
a,b = map(int, input().split())
print(divmod(5,3))

5 3
(1, 2)

In [4]:
a,b = map(int, input().split())
print(*divmod(5,3))

5 3
1 2

n진법으로 표기된 string을 10진법 숫자로 변환하기

In [13]:
a,b=map(int,input().split())
A=str(a)
value=1
ls=[]
print(len(A))
for i in range(len(A)):
  print(f'{A[-1-i]}*{value}= {int(A[-1-i])*value}')
  ls.append(int(A[-1-i])*value)
  value*=b

print(sum(ls))

3212 5
4
2*1= 2
1*5= 5
2*25= 50
3*125= 375
432

In [18]:
answer=0
for idx, num in enumerate(str(a)[::-1]):
  answer += int(num)*(b**idx)

print(answer)

432

In [31]:
a,b=input().split()
print(int(a,int(b)))

3212 5
432



#  **파트3 str 다루기**

문자열 정렬하기

문자열 s와 자연수 n이 입력으로 주어집니다. 문자열 s를 좌측 / 가운데 / 우측 정렬한 길이 n인 문자열을 한 줄씩 프린트해보세요.

In [32]:
s,n= input().split()
v=int(n)-len(s)  #공백문자 길이
m=v//2
print(s+(' '*v))
print((' '*m)+s+(' '*m))
print((' '*v)+s)

abc 7
abc
  abc
    abc

In [33]:
s= '가나다라'
n=7

s.ljust(n)
s.center(n)
s.rjust(n)

'   가나다라'

**알파벳 출력하기**


입력으로 0이 주어지면 영문 소문자 알파벳을, 입력으로 1이 주어지면 영문 대문자 알파벳을 사전 순으로 출력하는 코드를 짜세요.

In [35]:
from string import ascii_lowercase, ascii_uppercase
n=int(input())
if n==0:
  print(*list(ascii_lowercase))
if n==1:
  print(*list(ascii_uppercase))

1
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z